# Lab 03 Tasks

The dataset used for this task consists of records of flights retrieved from the [US Bureau of Transportation Statistics website](https://www.transtats.bts.gov) The data covers the period Q1 and Q2 2016, and includes each flight’s origin, destination, along with other metadata. The raw data is provided as a single CSV file (airstats-2016.csv).

### Task 1

Load the flight record data from the file airstats-2016.csv into a Pandas Data Frame, and apply the following filtering steps to the Data Frame:

1. Only include records where the flight origin and destination where both in the United States.
2. Only include records from the time periods Q1 2016 and Q2 2016.
3. Only include records where the reported distance between the origin and destination was at least 20 miles.

In [19]:
import networkx as nx
import pandas as pd
df = pd.read_csv("airstats-2016.csv")
flight_df = df[(df["ORIGIN_COUNTRY"]=="US") & (df["DEST_COUNTRY"]=="US")]
flight_df

,DISTANCE,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_COUNTRY,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_COUNTRY,YEAR,QUARTER,MONTH
0,226,UA,United Air Lines Inc.,12889,LAS,"Las Vegas, NV",US,14908,SNA,"Santa Ana, CA",US,2016,3,9
2,1814,UA,United Air Lines Inc.,12892,LAX,"Los Angeles, CA",US,12339,IND,"Indianapolis, IN",US,2016,3,9
3,1363,UA,United Air Lines Inc.,12892,LAX,"Los Angeles, CA",US,13198,MCI,"Kansas City, MO",US,2016,3,9
4,1670,UA,United Air Lines Inc.,12892,LAX,"Los Angeles, CA",US,13495,MSY,"New Orleans, LA",US,2016,3,9
5,954,UA,United Air Lines Inc.,12892,LAX,"Los Angeles, CA",US,14747,SEA,"Seattle, WA",US,2016,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316269,1448,AS,Alaska Airlines Inc.,10299,ANC,"Anchorage, AK",US,14747,SEA,"Seattle, WA",US,2016,3,8
316270,404,DL,Delta Air Lines Inc.,10397,ATL,"Atlanta, GA",US,13204,MCO,"Orlando, FL",US,2016,4,12
316271,404,DL,Delta Air Lines Inc.,13204,MCO,"Orlando, FL",US,10397,ATL,"Atlanta, GA",US,2016,4,11
316272,404,DL,Delta Air Lines Inc.,10397,ATL,"Atlanta, GA",US,13204,MCO,"Orlando, FL",US,2016,1,3
316273,404,DL,Delta Air Lines Inc.,10397,ATL,"Atlanta, GA",US,13204,MCO,"Orlando, FL",US,2016,4,11

In [18]:
quarterly_df = flight_df[(flight_df["QUARTER"]<3)]
quarterly_df

,DISTANCE,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_COUNTRY,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_COUNTRY,YEAR,QUARTER,MONTH
4679,374,09Q,"Swift Air, LLC",10185,AEX,"Alexandria, LA",US,14683,SAT,"San Antonio, TX",US,2016,1,1
4680,591,09Q,"Swift Air, LLC",10397,ATL,"Atlanta, GA",US,13232,MDW,"Chicago, IL",US,2016,1,1
4681,276,09Q,"Swift Air, LLC",10466,AZA,"Phoenix, AZ",US,12889,LAS,"Las Vegas, NV",US,2016,1,1
4682,1950,09Q,"Swift Air, LLC",10466,AZA,"Phoenix, AZ",US,13303,MIA,"Miami, FL",US,2016,1,1
4683,294,09Q,"Swift Air, LLC",10469,AZO,"Kalamazoo, MI",US,12945,LEX,"Lexington, KY",US,2016,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316261,404,DL,Delta Air Lines Inc.,13204,MCO,"Orlando, FL",US,10397,ATL,"Atlanta, GA",US,2016,2,5
316262,404,DL,Delta Air Lines Inc.,13204,MCO,"Orlando, FL",US,10397,ATL,"Atlanta, GA",US,2016,1,1
316265,404,DL,Delta Air Lines Inc.,10397,ATL,"Atlanta, GA",US,13204,MCO,"Orlando, FL",US,2016,2,5
316266,404,DL,Delta Air Lines Inc.,13204,MCO,"Orlando, FL",US,10397,ATL,"Atlanta, GA",US,2016,1,3
316272,404,DL,Delta Air Lines Inc.,10397,ATL,"Atlanta, GA",US,13204,MCO,"Orlando, FL",US,2016,1,3

In [20]:
dist_df = quarterly_df[(quarterly_df["DISTANCE"]>=20)]
dist_df

,DISTANCE,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_COUNTRY,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_COUNTRY,YEAR,QUARTER,MONTH
4679,374,09Q,"Swift Air, LLC",10185,AEX,"Alexandria, LA",US,14683,SAT,"San Antonio, TX",US,2016,1,1
4680,591,09Q,"Swift Air, LLC",10397,ATL,"Atlanta, GA",US,13232,MDW,"Chicago, IL",US,2016,1,1
4681,276,09Q,"Swift Air, LLC",10466,AZA,"Phoenix, AZ",US,12889,LAS,"Las Vegas, NV",US,2016,1,1
4682,1950,09Q,"Swift Air, LLC",10466,AZA,"Phoenix, AZ",US,13303,MIA,"Miami, FL",US,2016,1,1
4683,294,09Q,"Swift Air, LLC",10469,AZO,"Kalamazoo, MI",US,12945,LEX,"Lexington, KY",US,2016,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316261,404,DL,Delta Air Lines Inc.,13204,MCO,"Orlando, FL",US,10397,ATL,"Atlanta, GA",US,2016,2,5
316262,404,DL,Delta Air Lines Inc.,13204,MCO,"Orlando, FL",US,10397,ATL,"Atlanta, GA",US,2016,1,1
316265,404,DL,Delta Air Lines Inc.,10397,ATL,"Atlanta, GA",US,13204,MCO,"Orlando, FL",US,2016,2,5
316266,404,DL,Delta Air Lines Inc.,13204,MCO,"Orlando, FL",US,10397,ATL,"Atlanta, GA",US,2016,1,3
316272,404,DL,Delta Air Lines Inc.,10397,ATL,"Atlanta, GA",US,13204,MCO,"Orlando, FL",US,2016,1,3

### Task 2

Create an **unweighted directed** network from the Pandas Data Frame.

Use the three letter IATA airport codes for the origin and destination as the node identifiers. Also add the airport’s city name as an attribute for each node.

In [21]:
origins = set(dist_df["ORIGIN"].unique())
destinations = set(dist_df["DEST"].unique())
airports = origins.union(destinations)

In [22]:
# create a map from the airport codes to the city name
city_names = {}
for i, row in dist_df.iterrows():
    city_names[row["ORIGIN"]] = row["ORIGIN_CITY_NAME"]
    city_names[row["DEST"]] = row["DEST_CITY_NAME"]

In [23]:
g = nx.DiGraph()
nodes = sorted(list(airports))
for node in nodes:
    g.add_node(node, city=city_names[node])

In [24]:
# create a directed edge between each unique origin and destination pair, based on the flight records
# note that, in a standard DiGraph, Networkx ignores duplicate edges and only adds them once
for i, row in dist_df.iterrows():
    node1 = row["ORIGIN"]
    node2 = row["DEST"]
    # ignore self-loops, in case they exist
    if node1 == node2:
        continue
    g.add_edge(node1, node2)

### Task 3

Characterise the unweighted directed network from Task 3, looking at:
      
1. How many nodes and edges are in the network?
2. The connectedness of the network (i.e. density and number of components).
3. Identify frequent origin and destination airports in the network (i.e. in-degree and out-degreee)
4. Identify key hub airports in the network (i.e. betweenness)

In [31]:
print("Network has %d nodes and %d edges" % (g.number_of_nodes(), g.number_of_edges()))
print("Density: ", nx.density(g))
print("Number of strongly connected components:", nx.number_strongly_connected_components(g))

Network has 1043 nodes and 17644 edges
Density:  0.01623472818515908
Number of strongly connected components: 92

In [32]:
# create Pandas series for in-degree and out-degree scores
s_in = pd.Series(dict(g.in_degree()))
s_out = pd.Series(dict(g.out_degree()))

In [34]:
s_in.sort_values(ascending=False).head(10)

ORD    200
ATL    187
DEN    184
DFW    176
MSP    175
LAS    155
MEM    152
SDF    151
IAH    151
LAX    147
dtype: int64

In [35]:
s_out.sort_values(ascending=False).head(10)

ORD    205
ATL    193
DEN    187
ANC    183
DFW    175
MSP    171
LAS    162
MEM    162
DTW    152
LAX    151
dtype: int64

In [36]:
# use betweenness centrality to identify key hub airports in the network:
s_bet = pd.Series(nx.betweenness_centrality(g))
s_bet.sort_values(ascending=False).head(10)

ANC    0.281623
FAI    0.078011
SEA    0.068236
HPN    0.064631
ORD    0.058346
DEN    0.052816
MSP    0.046166
ADQ    0.035831
DFW    0.033752
ATL    0.033084
dtype: float64

### Task 4

Now create an alternative **weighted directed** network from the Pandas Data Frame.

In [37]:
w = nx.DiGraph()
nodes = list(airports)
nodes.sort()
for node in nodes:
    w.add_node(node, city=city_names[node])

In [39]:
# count the flight frequencies between each pair of airports
from collections import Counter
freqs = Counter()
# make sure to apply this to the filtered Data Frame:
for i, row in dist_df.iterrows():
    node1 = row["ORIGIN"]
    node2 = row["DEST"]
    # ignore self-loops, in case they exist:
    if node1 == node2:
        continue
    pair = (node1,node2)
    freqs[pair] += 1

In [40]:
# now create a directed weighted edge between each unique origin and destination airport pair
for pair in freqs:
    w.add_edge(pair[0], pair[1], weight=freqs[pair])
print("Created network with %d nodes and %d edges" % (g.number_of_nodes(), g.number_of_edges()))

Created network with 1043 nodes and 17644 edges

### Task 5

Based on the weighted directed network, identify:
    
1. The most frequent routes in the network.
2. The most frequent origin and destination airports in the network, considering edge weights.

In [41]:
# get all the edge weights, so that we can find the highest weight pairs
weights = {}
for e in w.edges(data=True):
    pair = (e[0],e[1])
    weights[pair] = e[2]["weight"]

In [42]:
# convert to a series and get the top ranked pairs
s_weights = pd.Series(weights)
s_weights.sort_values(ascending=False).head(10)

MSP  ORD    78
ORD  MSP    75
DEN  SLC    71
DTW  ORD    70
ORD  DTW    69
SLC  DEN    63
CVG  ORD    61
LAX  SFO    60
PHX  LAX    60
ORD  MCI    60
dtype: int64

In [44]:
# find the most frequent origin airports, based on weighted out-degree:
s_wout = pd.Series(dict(w.out_degree(weight="weight")))
s_wout.sort_values(ascending=False).head(10)

ORD    3556
DEN    2866
DTW    2512
ATL    2468
MSP    2363
IAH    2304
DFW    1997
LAX    1964
PHL    1849
EWR    1827
dtype: int64

In [45]:
# find the most frequent destination airports, based on weighted in-degree:
s_win = pd.Series(dict(w.in_degree(weight="weight")))
s_win.sort_values(ascending=False).head(10)

ORD    3515
DEN    2811
DTW    2463
ATL    2423
MSP    2359
IAH    2324
DFW    2023
LAX    1970
PHL    1879
EWR    1827
dtype: int64